examples/OEE-fsm.json
[
    {
        "id": "08fdee9c34fd9105",
        "type": "tab",
        "label": "OEE-FSM",
        "disabled": false,
        "info": "A finite state machine for OEE ",
        "env": []
    },
    {
        "id": "1",
        "type": "inject",
        "z": "08fdee9c34fd9105",
        "name": "Power On",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "command",
                "v": "powerOn",
                "vt": "str"
            },
            {
                "p": "powerOn",
                "v": "true",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 120,
        "wires": [
            [
                "a8ad2bac5b537e09"
            ]
        ]
    },
    {
        "id": "output",
        "type": "debug",
        "z": "08fdee9c34fd9105",
        "name": "Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 870,
        "y": 340,
        "wires": []
    },
    {
        "id": "460c8b31d74502ba",
        "type": "inject",
        "z": "08fdee9c34fd9105",
        "name": "start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "command",
                "v": "start",
                "vt": "str"
            },
            {
                "p": "start",
                "v": "true",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 180,
        "wires": [
            [
                "a8ad2bac5b537e09"
            ]
        ]
    },
    {
        "id": "50ec7d7515e2c327",
        "type": "inject",
        "z": "08fdee9c34fd9105",
        "name": "completeSetup",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "command",
                "v": "completeSetup",
                "vt": "str"
            },
            {
                "p": "completeSetup",
                "v": "true",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 220,
        "y": 240,
        "wires": [
            [
                "a8ad2bac5b537e09"
            ]
        ]
    },
    {
        "id": "37b72d2f704f49c5",
        "type": "inject",
        "z": "08fdee9c34fd9105",
        "name": "startProduction",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "command",
                "v": "startProduction",
                "vt": "str"
            },
            {
                "p": "startProduction",
                "v": "true",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 220,
        "y": 300,
        "wires": [
            [
                "a8ad2bac5b537e09"
            ]
        ]
    },
    {
        "id": "6cf2acb357b60c91",
        "type": "inject",
        "z": "08fdee9c34fd9105",
        "name": "cancel",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "command",
                "v": "cancel",
                "vt": "str"
            },
            {
                "p": "cancel",
                "v": "true",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 360,
        "wires": [
            [
                "a8ad2bac5b537e09"
            ]
        ]
    },
    {
        "id": "64c35bca7ee8741a",
        "type": "inject",
        "z": "08fdee9c34fd9105",
        "name": "stop",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "command",
                "v": "stop",
                "vt": "str"
            },
            {
                "p": "stop",
                "v": "true",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 420,
        "wires": [
            [
                "a8ad2bac5b537e09"
            ]
        ]
    },
    {
        "id": "a16ca1385dcd1a87",
        "type": "inject",
        "z": "08fdee9c34fd9105",
        "name": "fail",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "command",
                "v": "fail",
                "vt": "str"
            },
            {
                "p": "fail",
                "v": "true",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 480,
        "wires": [
            [
                "a8ad2bac5b537e09"
            ]
        ]
    },
    {
        "id": "f29176a529e2ab6d",
        "type": "inject",
        "z": "08fdee9c34fd9105",
        "name": "completeMaintenance",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "command",
                "v": "completeMaintenance",
                "vt": "str"
            },
            {
                "p": "completeMaintenance",
                "v": "true",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 540,
        "wires": [
            [
                "a8ad2bac5b537e09"
            ]
        ]
    },
    {
        "id": "b114ae14487d46a6",
        "type": "inject",
        "z": "08fdee9c34fd9105",
        "name": "Power Off",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "command",
                "v": "powerOff",
                "vt": "str"
            },
            {
                "p": "powerOff",
                "v": "true",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 620,
        "wires": [
            [
                "a8ad2bac5b537e09"
            ]
        ]
    },
    {
        "id": "a8ad2bac5b537e09",
        "type": "oee-fsm",
        "z": "08fdee9c34fd9105",
        "name": "",
        "x": 600,
        "y": 340,
        "wires": [
            [
                "output"
            ]
        ]
    },
    {
        "id": "74477c139646a241",
        "type": "comment",
        "z": "08fdee9c34fd9105",
        "name": "OEE Finite State Machine",
        "info": "The purpose of this  Node-RED module is to simulate the state transitions of a machine or process in an OEE (Overall Equipment Effectiveness) calculation system. The module provides a state machine that represents different states of the machine, such as \"Off\", \"Idle\", \"Setup\", \"Waiting\", \"Run\", and \"Maintenance\". \n\nThis state machine can be used to model a machine's behavior and track its status during operation. It can help understand how the machine transitions between different states based on various input commands like \"powerOn\", \"start\", \"completeSetup\", \"startProduction\", \"stop\", \"fail\", \"completeMaintenance\", and \"powerOff\".\n\nBy tracking and managing the state of a machine or process, this module can provide valuable insights into the machine's performance and help identify areas where improvements can be made to increase Overall Equipment Effectiveness.\n\nI hope you find this useful - Harshad Joshi @ Bufferstack.IO Analytics Technology LLP",
        "x": 190,
        "y": 40,
        "wires": []
    }
]